.highlight {
  background: #fff;

  // Main highlight context
  // -- resets the highlighting style
  .h {
    color: #333;
    font-style: normal;
    font-weight: normal;
  }

  .mf,  // Literal.Number.Float
  .mh,  // Literal.Number.Hex
  .mi,  // Literal.Number.Integer
  .mo,  // Literal.Number.Oct
  .il,  // Literal.Number.Integer.Long
  .m    // Literal.Number
  {
    color: #945277;
  }

  .s,   // Literal.String
  .sb,  // Literal.String.Backtick
  .sc,  // Literal.String.Char
  .sd,  // Literal.String.Doc
  .s2,  // Literal.String.Double
  .se,  // Literal.String.Escape
  .sh,  // Literal.String.Heredoc
  .si,  // Literal.String.Interpol
  .sx,  // Literal.String.Other
  .s1   // Literal.String.Single
  {
    color: #df5000;
  }

  .kc,  // Keyword.Constant
  .kd,  // Keyword.Declaration
  .kn,  // Keyword.Namespace
  .kp,  // Keyword.Pseudo
  .kr,  // Keyword.Reserved
  .kt,  // Keyword.Type
  .k,   // Keyword
  .o    // Operator
  {
    font-weight: bold;
  }

  // Keyword.Type
  .kt { color: #458 }

  .c,   // Comment
  .cm,  // Comment.Multiline
  .c1   // Comment.Single
  {
    color: #998;
    font-style: italic;
  }

  .cp,   // Comment.Preproc
  .cs,   // Comment.Special
  .cp .h // Closing bracket in Ruby interpolated strings. See https://github.com/atom/atom/issues/716.
  {
    color: #999;
    font-weight: bold;
  }

  // Comment.Special
  .cs { font-style: italic }

  // Name
  .n { color: #333 }

  .na,  // Name.Attribute
  .nv,  // Name.Variable
  .vc,  // Name.Variable.Class
  .vg,  // Name.Variable.Global
  .vi   // Name.Variable.Instance
  {
    color: #008080;
  }

  // Name.Builtin
  .nb { color: #0086B3 }

  // Name.Class
  .nc { color: #458; font-weight: bold }

  // Name.Constant
  .no { color: #094e99 }

  // Name.Entity
  .ni { color: #800080 }

  // Name.Exception
  .ne { color: #990000; font-weight: bold }

  // Name.Function
  .nf { color: #945277; font-weight: bold }

  // Name.Namespace
  .nn { color: #555 }

  // Name.Tag
  .nt { color: #000080 }

  // Error
  .err { color: #a61717; background-color: #e3d2d2 }

  // Generic.Deleted
  .gd { color: #000; background-color: #fdd }

  // Generic.Deleted.Specific
  .gd .x { color: #000; background-color: #faa }

  // Generic.Emph
  .ge { font-style: italic }

  // Generic.Error
  .gr { color: #aa0000 }

  // Generic.Heading
  .gh { color: #999 }

  // Generic.Inserted
  .gi { color: #000; background-color: #dfd }

  // Generic.Inserted.Specific
  .gi .x { color: #000; background-color: #afa }

  // Generic.Output
  .go { color: #888 }

  // Generic.Prompt
  .gp { color: #555 }

  // Generic.Strong
  .gs { font-weight: bold }

  // Generic.Subheading
  .gu { color: #800080; font-weight: bold; }

  // Generic.Traceback
  .gt { color: #aa0000 }

  // Operator.Word
  .ow { font-weight: bold }

  // Text.Whitespace
  .w { color: #bbb }

  // Literal.String.Regex
  .sr { color: #017936 }

  // Literal.String.Symbol
  .ss { color: #8b467f }

  // Name.Builtin.Pseudo
  .bp { color: #999 }

  .gc {
    color: #999;
    background-color: #EAF2F5;
  }
}

.type-csharp .highlight {
  .k { color: #0000FF }
  .kt { color: #0000FF }
  .nf { color: #000000; font-weight: normal }
  .nc { color: #2B91AF }
  .nn { color: #000000 }
  .s { color: #A31515 }
  .sc { color: #A31515 }
}
